@font-face {
    font-family: 'Nexa_Free_Light';
    src: url('fonts/Nexa_Free_Light-webfont.woff2') format('woff2'),
         url('fonts/Nexa_Free_Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Nexa_Free_Bold';
    src: url('fonts/Nexa_Free_Bold-webfont.woff2') format('woff2'),
         url('fonts/Nexa_Free_Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Nexa_Free_Light';
}

        /* GENERAL */

body {
    width: 100vw;
    min-width: 720px;
    overflow-x:hidden;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

section {
    display: block;
    margin: auto;
    height: 100vh;
    max-height: 1080px; /* CHANGE TO 100vh LATER */
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 60px;
    font-weight: normal;
}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 93%;
    border-bottom: 1px solid;
    border-color: rgb(255,255,255, 0.1);
}

nav li {
    display: inline-block;
    padding: 25px;
    margin: auto;
}

.scroll {
    font-size: 18px;
    font-family: 'Nexa_Free_Bold';
} 

.about .scroll, .about nav ul, .contact scroll, .contact nav ul, .footer {
    color: #bebebe;
    border-color: #bebebe;
}

            /* HOME */
section.home {
    background-image: url('images/j-wood.png');
    background-size: cover;
    color: white;
}

.home img {
    width: 25%;
    margin-top: 4em;
    margin-bottom: 1.5em;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.home .scroll {
    margin-top: 3%;
}

span.logo {
    font-size: 60px;
}

            /* ABOUT */

.bio {
    margin-left: 8%;
    text-align: left;
    margin-top:2%;
}

.about img {
    width: 40%;
    max-width: 80vw;
    float: left;
    margin-right: 2.5%;
}

.txt {
    width: 600px;
    float: left;
}

.about p {
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
    
}

.about .scroll {
    clear: both;
    padding-top: 4%;
}


            /* PORTFOLIO */

section.portfolio {
    background-image: url('images/portfolio.png');
    background-size: cover;
    color:white;
}



.gallery img {
    width: 14.5%;
    margin:15px;
}

.portfolio .scroll {
    margin-top: 1.5%;
    
}

/* CONTACT */
section.contact {
    position: relative;
}

.channels {
    display: block;
    margin-top: 7%;
}

.channels p {
    margin: 35px 0;
}

.footer {
    display:inline-block;
    width: 93%;
    padding:15px;
    font-size: 18px;
    margin-top: 7%;
    border-top: 1px solid;
    border-color: rgb(255,255,255, 0.1);
}